{% extends 'base.html.twig' %}
 
{% block title %}pass-forget|NajmiAccademy.com{% endblock %}
 
{% block body %}
	<div class="container mt-5" style="max-width:450px;">
		<div class="p-4 bg-light"> 
			 <h1 class="text-center">Mot de passe oublié</h1>
			 <div>
			 	{{ form_start(emailForm) }}
			 	<div class="form-group">
			 		{{ form_row(emailForm.email) }}
			 	</div>			 	
			 	<button type="submit" class="btn btn-warning text-center">
			 		Envoyer !
			 	</button>
			 	{{ form_end(emailForm) }}
			 </div>   
		</div>
		
	</div>

     
{% endblock %}