{% extends 'base.html.twig' %}
 
{% block title %}NewPass| najmiAccademy.com{% endblock %}
 
{% block body %}
	<div class="container">
		<h1>Réinitialisation du mot de passe</h1>
<p>Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
  <div class="p-4">
  	
  	  {{ form(passForm) }}

  </div>
   
	</div>


{% endblock %}