
<div class="footer" style="min-height:200px;">

    <div class="social-media" >
      <span style="color:#ff8c00; " 
          data-toggle="tooltip" data-placement="top" title="Facebook"
      class="text-center  span-media fa">
      <i class="fab fa-facebook" ></i>
    </span>
    <span style="color:darkblue; "data-toggle="tooltip" data-placement="right" title="Twitter" class="text-center span-media tw">
      <i class="fab fa-twitter-square" ></i>
    </span>
      <span style="color:magenta; " data-toggle="tooltip" data-placement="left" title="Instagarm"class="text-center span-media in">
      <i class="fab fa-instagram" ></i>
    </span>
    <span style="color:brown; " data-toggle="tooltip" data-placement="bottom" title="Github"class="text-center span-media gi">
      <i class="fab fa-github" ></i>
    </span>
    </div>

    <div class="text-center contact">
      <a href=" {{ path('contact')}} "  class="btn btn-primary btn-xl">
      	Contact moi !
      </a>
    </div>
    <div>
     <p class="footer-text">Copyright NajmiAccademy@ 2020 !</p>
    </div>
</div>