{% extends 'admin/base.html.twig' %}

{% block title %}Profs| NajmiAccademy.com{% endblock %}

{% block body %}
	{% for item in app.flashes('message') %}
   <div class="alert alert-secondary">
       {{ item }}
   </div>
 {% endfor %}
<div class="container">

{{ form(profForm) }}
   
</div>
{% endblock %}
