.reveal-visible{
	opacity: 1!important;
	transform: translateY(0)!important;
	transition: 1s cubic-bezier(0.5,0,0,1);
}

.reveal{
	opacity: 0;
	transform: translateX(30px);
}



/**@media (prefers-reduced-motion: reduce) {
  .reveal-visible{
  	opacity: 1!important;
  	transition: 0!important;
  	
  }
}*/