{% extends 'base.html.twig' %}

{% block title %}Register| NajmiAccademy.com{% endblock %}

{% block body %}
	<div class="container p-4  mt-2 bg-light" style="max-width:600px;">
		<h2 class="text-center bg-light p-2 w-100"> Inscription à notre groupe scolaire : </h2>
		 {{ form(stdForm) }}
	</div>
 
{% endblock %}
