
{% extends 'prof/base.html.twig' %}

{% block title %}Anounce| NajmiAccademy.com{% endblock %}

{% block body %}

<div class="container mt-4">
   	<h3 class="bg-light text-center">Nouveau Annonce : </h3>

  {{ form(anounceForm)}}
</div>
{% endblock %}