{% extends 'prof/base.html.twig' %}
{% block title %}AddCourse| NajmiAccademy.com{% endblock %}

{% block body %}
   <div class="container mt-4">
   	<h3 class="bg-light text-center">Nouveau Cours : </h3>
   	{{ form(courseForm) }}
   </div>
{% endblock %}