<!DOCTYPE html>
<html>
    <head>

          <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
      
<title> {% block title %}Welcome| NajmiAccademy.com{% endblock %}</title>
       
        {% block stylesheets %}
{{ encore_entry_link_tags('app')}}
        {% endblock %}
    </head>
    <body>

        {% include 'partials/header.html.twig' %}

        {% block body %}{% endblock %}
       
           
        {% cache "footer" %}
        {% include 'partials/footer.html.twig' %}
        {% endcache %}
           {% block javascripts %}
       {{ encore_entry_script_tags('app')}}
           {% endblock %}

    </body>

</html>
